repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        description: Run golangci-lint to lint and fix Go code
        entry: golangci-lint run --new --fix
        types: [go]
        language: system
        pass_filenames: false
